<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>UserName:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Confirmpassword:</strong>
  <%= @user.confirmpassword %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %><br>
  <%= link_to 'Back', users_path %>
</p>